<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @idea.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@idea.picture_url, width: 500) if @idea.picture.present? %>
</p>

<a href="/ideas/<%= @idea.id%>/edit">Edit</a> |
<a href="/ideas">Back</a>
